$color-white: #fff;
$color-bluestart:#285a91;
$color-blueend: #1f9cfd;
$color-dark-gray: #474747;
$color-gray-light: #e2dcdc;
$color-skyblue: #a8d8ff;
$color-skyblue2: #c1e1ff;
$color-skyblue3: #d6eaff;
