header{
    width: 100%;
    height: 90vh;        //그라데이션 주는거
    background-image: linear-gradient(
        to right,
        $color-bluestart 0%,
        $color-blueend 100&
    ), url(../image/header-image.jpg);//css 폴더랑 경로가 잘 맞아야함
    background-blend-mode : multiply; // 합성해주는 css
    background-size: cover;
    position: relative; //부모에게 맞추기 위해 포지션 relative 해줌


//----------------------Header-logo-text
    #logo-text{
        position: absolute;
        left: 7rem;
        top: 4rem; //부모에 맞춰야 된다 
        font-size: 5.6rem;
        text-transform: uppercase; //대문자로 바꿔줌 
        font-family: 'lato', sans-serif;
        color: $color-white;
        letter-spacing: -0.1rem; //글자 간격줄이기
        animation-name: moveInleft;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
    }
//----------------------------------------------
    #header-text{
        position: absolute;
        left: 7rem;
        bottom: 23%;
        color: $color-white;
        letter-spacing: -.1rem;
        font-weight: 700;
//---------------------------------------------------------------
        //해더텍스트메인 header-text-main
        &-main{
            font-size: 7.2rem;
            line-height: 7.2rem;//줄간격
            animation-name: moveInright;
            animation-duration: 1s;

        }
//----------------------------------------------------------------
        //헤더 텍스트 서브 header-text-sub
        &-sub{
            font-size: 2.4rem;
            margin-top: 3rem;
            animation-name: moveInright;
            animation-duration: 1s;
            animation-delay: 0.65s;
            animation-fill-mode: backwards;
        }
    }

}