@keyframes moveInleft{
    0% {
        opacity: 0;
        transform: translateX(-8rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInright{
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}