.button-text{
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    color: $color-bluestart;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid $color-blueend;


    transition: all .5;
    &:hover{
        color: $color-white;
        background-color: $color-blueend;
        border-bottom: none;
    }
}